/* MAPS */

$mapRedes:(facebook:red,instagram:blue,twitter:yellow);

@each $red, $color in $mapRedes {
   .#{$red} {
    color: $color;
   }
}

/* MAP - GET */

$estilo:(color:red, tamFuente:30px);

.pepeLePu {
    background-color: map-get($map: $estilo, $key: color);
    font-size: map-get($map: $estilo, $key: tamFuente);
}
